html, body {
	background: #4a8fe1;
}
h2{
	font-size: 18px;
	text-transform: uppercase;
	color: #333333;
	margin-bottom: 50px;
	letter-spacing: 2px;
	font-weight: bold;
}
.main-area{
	background: white;
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
	min-height:550px;
	margin-top:20px;
}
#mainform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#mainform fieldset:not(:first-of-type) {
    display: none;
}


#mainform input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
	border-radius:5px;
}
#mainform input:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #3e92fa;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#mainform .action-button {
    width: 100px;
    background: #4a8fe1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px 5px;
    cursor: pointer;	
}

#mainform .action-button:hover, #mainform .action-button:focus {
    box-shadow: 0 0 0 2px #FFF, 0 0 0 3px #4a8fe1;
}

#mainform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#mainform .action-button-previous:hover, #mainform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

.pagination > li > a, .pagination > li > span{
	border:1px solid #3e92fa;
	padding:10px 20px;
}
.pagination > li > .active-bg{
	background-color: yellow;
}

.col-form-label{
	text-align:right;
}